#headline {
    margin: auto;
    background: #1c1d25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 100;
    color: antiquewhite;
    font-size: larger;
    height: 40px;
    width: 1000px;
    border-radius: 25px;
}
