<!DOCTYPE html>
<html lang="en" ng-app="angApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/static/ang.js"></script>
    <link rel="stylesheet" href="/static/fileup.css">
    <script src="//unpkg.com/angular/angular.js"></script>

</head>
<body>
    <div id="headline">
        <h2>File Uploader</h2>
    </div>
    <div id="normalpara" ng-controller='myCtrl'>
        <div class="grid-container">
            <div class="grid-item"><b>Submission time start </b><h3>{{getDate1 | date :"medium"}}</h3></div>
            <div class="grid-item" id="subend"><b>Submission time End </b><h3>{{getDate2 | date :"medium"}}</h3></div>
        </div>
           
    </div>
    <div id="remain">
        Time remaining
    </div>

    <div id ="tick" ng-controller='myCtrl'>
        <div ng-if="diff1 > 0">
            <span class="animate-if">
                Submission window is not openned yet! Please Wait!
            </span>
        </div>
        <div ng-if="diff2 < 0">
            <span class="animate-if">
                Time Up!! Submission window is closed!!
            </span>
        </div>
        <div ng-if="diff1<0 && diff2>0">
            {{counter | counter | date:'HH:mm:ss'}}
            <div id="divup">
                <h4>Please Upload a <b>{{filetype}}</b> file...</h4>
                <input type="file" select-ng-files ng-model="up-file"/>
                <label id="file-sub-label" for="submit-file">CHOOSE FILE</label>
                <div ng-show="up-file.length">{{up-file.name}}</div>
            </div>
        

        

    </div>


</body>
</html>