#headline {
    margin: auto;
    background: #1c1d25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 100;
    color: antiquewhite;
    font-size: larger;
    height: 40px;
    width: 1000px;
    border-radius: 25px;
}

#normalpara {
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(255, 127, 127);
    margin-left: 200px;
    text-align: left;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1000px;

}

#subend {
    margin-right: 100px;
    text-align: right;
}

h3 {
    color: indigo;
}

h4 {
    color: rgb(45, 6, 73);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tick{
    margin : auto;
    font-weight: bold;
    color:crimson;
    margin-top: 20px;
    font-size:xx-large;
    border: rgb(112, 201, 228);
    height: 40px;
    width: 1000px;
    text-align: center;
}

#remain{
    margin:auto;
    font-size:30px;
    text-align: center;
    height: 40px;
    width: 1000px;
    background-color: rgb(166, 242, 252);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;

}

.grid-container {
    display: inline-grid;
    grid-gap: 50px;
    grid-template-columns: 500px 500px;
  }

  .animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
  }

  #up-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #up-button:hover {
    background-color: #00b28f;
  }
  
  #up-text {
    margin-left: 10px;
    size: 50px;
    font-family: sans-serif;
    color: #aaa;
  }

  label{
      height: auto;
      width: 100px;
      color:rgb(11, 2, 24);
      background-color: rgb(243, 157, 136);
      margin: auto;
      font-size:x-large;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;

  }

  #upload-button{
      background-color: rgb(3, 194, 60);
      font-size: large;
      color: rgb(22, 11, 11);
  }